.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidemenu{
  display: flex;
   margin-right: 10px;
   cursor: pointer;
}

.link{
  text-decoration: none;
  color: white;
}